body {
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f2e8cf;
}

h1 {
  color: #386641;
}

.button-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

#resizeButton, #resetButton {
  background-color: #6A994E;
  color: #F2E8CF;
  border: 2px solid #386641;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

#resizeButton:hover, #resetButton:hover {
  background-color: #A7C957;
  color: #BC4749;
  transform: scale(1.05);
}

#resizeButton:active, #resetButton:active {
  background-color: #BC4749;
  color: #F2E8CF;
}

#container {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  height: 960px;
  border: 2px solid #386641;
}

.square {
  flex: 1 0 auto;
  border: 1px solid #ddd;
  box-sizing: border-box;
}
